[submodule "GLFW"]
	path = engine/vendor/glfw
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
